body{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}


#page1 {
    background-color: chartreuse;
    margin: 0px;
    padding: 0px;
}

/* footer {
display: flex;
justify-content: space-between;
text-align: center;
} */

footer {
    /* display: inline-grid; */
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    background-color: cornflowerblue;
    text-align: center;

}


footer > section {
display: flex;
justify-content: space-between;
min-width: 10%;
background-color: chocolate;
text-align:  center;
}

#simpletable {
    display: flex;
    justify-content: space-evenly;
    
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
    background-color: crimson;
    
}

.lowStock{
    background-color: rgb(207, 176, 0);
    color: rgb(13, 70, 13);
}

.noStock{
    background-color: ghostwhite;
    color: rgb(221, 3, 3);
}

#fulltable {
    display: flex;
    justify-content: space-around;
    
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
    background-color: rgb(98, 138, 72);
    
}
#columnNames {
    background-color: darkgoldenrod;
    
}

/* #simpletable >tr {
    flex-grow: 1;
    
} */
#descriptionCell {
    font-size: 50%;
}

#editoptions >ul {
background-color: cyan;
display: flex;
flex-direction: row;
justify-content: space-between;
list-style-type: none;
margin: 0px;
padding: 0px;

}
#editoptions >ul >li{
background-color: rgb(73, 150, 127);
/* padding: 2.5%; */
min-width: 29%;
text-align: center;
margin: 1px;
/* font-size: 150%; */
font-size: 2.35vw;
text-decoration: none;
display: inline-block;
/* display: block; */
padding-top: 2%;
padding-bottom: 2%;
padding-right: 2%;
padding-left: 2%;

}

#editoptions  > ul > li > a {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 3.25vw;
    /* padding-right:  10%; */
    /* padding-inline: ; */
}


}
