{%extends 'editing/index.html'%}

{%block foo%}
<section id="editoptions">
    <head>
        <ul>
            <li>
                <a href="/edit/prod-edit"> Products</a>
            </li>
            <li>
                <a href="/edit/brand-edit">Brands</a>
            </li>
            <li>
                <a href="/edit/type-edit">Types</a>
            </li>
        </ul>
    </head>
    <body>
        <section id="BrandForm">
            <form id="brandEditor" action="/edit/createNewBrand" method="post">
                <ul>
                   <li> New Brand Name <input type="text" name="newBrandName" value=""> </li>
                    <li> A Brand description <input type="text" name="newBrandDescription" value=""> </li>
                    <li> Brand Warranty details<input type="text" name="newBrandWarranty" value=""> </li>
                    <li><input type="submit" value="Confirm"></li>
                </ul>
            </form>
        </section>
    </body>
</section>
{%endblock%}