{%extends 'editing/index.html'%} 

{%block foo%}
<section id ="editoptions">
    <head >
        <ul>
            <li>
                <a href="/edit/prod-edit">Products</a>
            </li>
            <li>
                <a href="/edit/brand-edit">InBrands</a>
            </li>
            <li>
                <a href="/edit/type-edit">Types</a>
            </li>
        </ul>
    </head>
    <body>
        <div id = newbrand> <a href="/edit/addABrand">N E W </a> </div>
        <table id = "tableEditProducts">
            <tr id = tableEditProductsColumns>
                
                <th>Brand</th>
                <th>Description</th>
                <th>Warranty</th>
                <th></th>
                <th></th>

                
            </tr>
            {%for brand in brands%}
            <tr>
                
                    <th><a href="/edit/editBrand{{brand.id}}">{{brand.name}}</a> </th>
                    <th><a href="/edit/editBrand{{brand.id}}">{{brand.description}}</a></th>
                    <th><a href="/edit/editBrand{{brand.id}}">{{brand.warranty_details}}</a></th>
                
                <th> <a href=" /edit/removeBrand{{brand.id}}"> DELETE</a> </th>
                
                

            </tr>
            {%endfor%}
        </table>

        
    </body>
</section>
{%endblock%}



