{%extends 'editing/index.html'%}

{%block foo%}
<section id="editoptions">

    <head>
        <ul>
            <li>
                <a href="/edit/prod-edit"> INProducts</a>
            </li>
            <li>
                <a href="/edit/brand-edit">Brands</a>
            </li>
            <li>
                <a href="/edit/type-edit">Types</a>
            </li>
        </ul>
    </head>

    <body>
        <section id=editingProducts>
            <!-- <div id=newProduct> <a class = "newbutton" href="/edit/addAProduct"> N E W</a></div> -->
             <!-- <a class = "button" href="/edit/addAProduct"> NEW</a> -->

            <table class="simpletable">
                <tr class = "titlerowintable">
                    <th>Name</th>
                    <th>Brand name</th>
                    <th>Type of product</th>
                    <th></th>
                </tr>
                {%for product in products%}
                <tr class = "hoveroverrow">
                    <a href="/edit/editAProduct{{product.id}}"></a>
                    <th> <a href="/edit/editAProduct{{product.id}}">{{product.name}}</a></th>
                    <th> <a href="/edit/editAProduct{{product.id}}">{{product.brand.name}}</a></th>
                    <th> <a href="/edit/editAProduct{{product.id}}">{{product.product_type.name}}</a></th>
                    <th> <a href=" /edit/removeProduct{{product.id}}"> DELETE</a> </th>
                </tr>
                {%endfor%}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><a class = "button" href="/edit/addAProduct"> NEW</a></th>
                    
                </tr>
            </table>
        </section>

    </body>
</section>
{%endblock%}