{%extends 'editing/index.html'%} 

{%block foo%}
<section id ="editoptions">
    <head >
        <ul>
            <li>
                <a href="/edit/prod-edit">Products</a>
            </li>
            <li>
                <a href="/edit/brand-edit">Brands</a>
            </li>
            <li>
                <a href="/edit/type-edit">INTypes</a>
            </li>
        </ul>
    </head>
    <body>
        
        <table id = "tableEditsTypes">
            <tr id = tableEditTypesColumns>
                <th>Types:</th>
                <th></th>
            </tr>
            {%for type in types%}
            <tr>
                <th>
                    <form action="/edit/modifyType{{type.id}}" method = "post">
                        <input type="text" name="newTypeName" value="{{type.name}}"> 
                        <input type="submit" value="Update">
                    </form>
                </th>
                <th> <a href=" /edit/removeType{{type.id}}"> DELETE</a> </th>   
            </tr>
            {%endfor%}
            <tr>
                <th>
                    <form action="/edit/createType" method = "post"> 
                        <input type="text" name="newTypeName" value=""> 
                        <input type="submit" value="Create">
                    </form>
                </th>
            </tr>
        </table>

        
    </body>
</section>
{%endblock%}



