{%extends 'base.html'%}
{%block foo%}
<section id="page1">
    <h1> THE simple view table goes here BLOCK</h1>


    <table class="simpletable">
        <tr class = "titlerowintable">
            <th>Name</th>
            <th>Brand</th>
            <th>cost</th>
            <th>sale</th>
            <th>Markupx1</th>
            <th>Markup total</th>
            <th>Stock</th>
            <th>Basket</th>
            

        </tr>
        {%for stock_item in stocks%}
        <tr class = "hoveroverrow">


            <th>{{stock_item.product.name}}</th>
            <th>{{stock_item.product.brand.name}}</th>
            <th>{{stock_item.product.distributor_price}}</th>
            <th>{{stock_item.product.sale_price}}</th>
            <th>{{stock_item.product.get_markup()}}</th>
            <th>{{stock_item.get_markup_based_on_stock_count()}}</th>
            
            {% if 0< stock_item.count1 < 10 %}
            <th class = "lowStock">{{stock_item.count1}}</th>
            {% elif stock_item.count1 == 0 %}
            <th class = "noStock"> {{stock_item.count1}}</th>
            {% else %}
            <th> {{stock_item.count1}}</th>
            {%endif%}
            <th>{{stock_item.basket}}</th>
            
            <th><button>Re-Order</button> </th>

        </tr>
        {%endfor%}


    </table>

</section>
{%endblock%}