{%extends 'base.html'%}
{%block foo%}
<section id="Basket">
    <h2> EDIT AND PROCEED WITH RESTOCKING REQUESTS</h2>


    <table id="basketTable">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Stock</th>
            <th>Baseket review</th>
            <th></th>
            
            

        </tr>
        {%for stock_item in stocks%}
        <tr>


            <th>{{stock_item.product.name}}</th>
            <th>{{stock_item.product.brand.name}}</th>
            <th>{{stock_item.product.product_type.name}}</th>
            <th>{{stock_item.count}}</th>
            <form action="/updatebasket{{stock_item.id}}" method = "post">
            <th><input type="text" name="newBasketCount" value="{{stock_item.id}}">     </th>
             <th>   <input type="submit" value="Update Basket"></th>
            </form>

        </tr>
        {%endfor%}
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <form action="/SubmitOrders" method = "POST">
            <th><input type="submit" value="Place ORDERS"></th>
            </form>
            
        </tr>

    </table>

</section>
{%endblock%}