{%extends 'base.html'%}

{%block foo%}
<section id="page1">
    <h1> Full VIEW</h1>
    <table id="fulltable">
        <tr id=columnNames>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Brand desc.</th>
            <th>Warranty</th>
            <th>Warranty length</th>
            <th>Price(dist)</th>
            <th>Price(sale)</th>
            <th>Markup</th>
            <th>Stock</th>
            <th>Basket</th>
        </tr>
        {%for a_stock_item in stocks%}
        <tr>
            <th>{{a_stock_item.product.name}}</th>
            <th class="descriptionCell">{{a_stock_item.product.description}}</th>
            <th>{{a_stock_item.product.product_type.name}}</th>
            <th>{{a_stock_item.product.brand.name}}</th>
            <th class="descriptionCell">{{a_stock_item.product.brand.description}}</th>
            <th class="descriptionCell">{{a_stock_item.product.brand.warranty_details}}</th>
            <th>{{a_stock_item.product.warranty_length}}</th>
            <th>{{a_stock_item.product.distributor_price}}</th>
            <th>{{a_stock_item.product.sale_price}}</th>
            <th>{{a_stock_item.product.get_markup()}}</th>
            <th>{{a_stock_item.count1}}</th>
            <th>{{a_stock_item.basket}}</th>

            
            <th></th>
        </tr>
        {%endfor%}
    </table>
</section>
{%endblock%}